<div class="container">
    <div class="row justify-content-centre" >
        <div class="col-md-6 text-left rounded shadow py-5" style="background-color: grey;">
            <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
                <legend style="text-align: center;"><i><b>Subscription Form</b></i></legend>
                <hr>
                <div class="form-group">
                    <label for="email"> Email address</label>
                    <input type="email" name="email" ngModel required email #email="ngModel" class="form-control">
                    <small class="text-danger" *ngIf="email.invalid && email.touched">Enter valid email</small>

                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" ngModel required class="form-control" #password="ngModel" minlength="8">
                    <small class="text-danger" *ngIf="password.invalid && password.touched">Enter password minimum length should be 8 character </small>

                </div>
                <div class="form-group">
                    <label for="sub">Subscriptions</label>
                    <select name="sub" id="" [ngModel]="default" class="form-control">
                        <option value="Basic">Basic</option>
                        <option value="Advanced">Advanced</option>
                        <option value="Pro">Pro</option>

                    </select>

                </div>
                <button class="btn btn-primary">Submit</button>
                <h2 class="text-danger">{{msg}}</h2>

            </form>
            <div  *ngIf="submitted">
                <table class="table  table-bordered">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Subscription</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of arr">
                            <td>{{a.email}}</td>
                            <td>{{a.password}}</td>
                            <td>{{a.sub}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>