legend{
    text-align: center;
    color: brown;
}
.container{
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
label{
    font-weight: bolder;
}