
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5">
            <form (ngSubmit)="OnSubmit(myForm)" #myForm="ngForm">
                <div ngModelGroup="userDetails" #userDetails="ngModelGroup">
                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter user name" [(ngModel)]="username" required>
                        <small *ngIf="username"> Username is: {{username}}</small>
                      </div>
    
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email"  name="email" placeholder="Enter email" ngModel required #email="ngModel" pattern=".+@codemind\.com">
                      <small class="text-danger" *ngIf="email.invalid && email.touched">Enter valid email</small>
                      
                    </div>
                    <small class="text-danger" *ngIf="userDetails.invalid && userDetails.touched">please enter valid details</small>
                </div>
                <div class="form-group">
                    <label for="date">Select Date</label>
                    <input type="date" name="date" min="2022-12-10" required ngModel>

                </div>
                

                <div class="form-group">
                    <label for="course">Select Course</label>
                    <select class="form-control" name="course" id="course" [ngModel]="defaultValue">
                        <option value="Angular">Angular</option>
                        <option value="HTML">HTML</option>
                        <option value="JavaScript">JavaScript</option>
                    </select>
                </div>
                <div class="form-group" *ngFor="let gender of genders">
                    <input type="radio" id="{{gender.id}}" name="gender" value="{{gender.value}}" [ngModel]="defaultGender" class="custom-control-input">
                    <label for="{{gender.id}}">{{gender.value}}</label>

                </div>
               
                <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
                <input type="reset">
                <!-- <div class="row justify-content-center mt-2" *ngIf="submitted">
                    <div class="col-md-6 rounded shadow py-4">
                        <h2>Form data</h2>
                        <p>Username: <strong>{{employee.username}}</strong></p>
                        <p>Email: <strong>{{employee.email}}</strong></p>
                        <p>Course: <strong>{{employee.course}}</strong></p>
                        <p>Gender: <strong>{{employee.gender}}</strong></p>
                    </div>
             </div> -->
             <div *ngIf="submitted">
                <table class="table  table-bordered">
                    <thead >
                        <tr>
                            <th>Student Name</th>
                            <th>Email</th>
                            <th>Course</th>
                            <th>Gender</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of arr ; let i=index;">
                            
                            <td>{{s.username}}</td>
                            <td>{{s.email}}</td>
                            <td>{{s.course}}</td>
                            <td>{{s.gender}}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
              </form>
        </div>
    </div>
</div>

