.container{
    background-image: url(299-2993554_college-students.png);
    background-size: cover;
}
p{
    color:black;
}



label{
    color: black;
    text-shadow: 3px 3px 5px red;
    font-weight: bolder;
}
input,select{
    border-color:blue;
    border-radius: 50px 20px;
    box-shadow: 2px 2px 2px rgb(234, 182, 182);
    color: blue;
    background-color:transparent;
    border: none;
}