<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet> -->
<!-- <select (change)="uid = sid.value" #sid>
  <option selected disabled>No value selected</option>
  <option [value]="id" *ngFor="let id of [1,2,3,4]">
    {{id}}
  </option>
  </select> -->
  <!-- <app-btnassign></app-btnassign> -->
  <!-- <app-dirassign></app-dirassign> -->
  <!-- <h2 style="margin-left:450px ;" >Select color</h2>
  <div style="margin-left:450px ; margin-right:1050px ; background-color:black; border: 1px;">
    <select class="custom-select" (change)="colors = item.value" #item style="background-color: blueviolet; height: 35px;">
      <option selected disabled style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;text-shadow: 5px;">No value selected</option>
      <option [value]="col" *ngFor="let col of ['Red','Green','Yellow']" style="color:red ;">
        {{col}}
      </option>
      </select>
  </div> -->
    
  <!-- <app-assign></app-assign>
  <!-- <app-hooks [userId]="uid"></app-hooks> -->
  <!-- <app-hooks-assign [color]="colors">
    
  </app-hooks-assign>   -->
  <!-- <div class="row" style="text-align:center;">
    <div class="col-md-12">
  <input type="text" placeholder="enter value" (blur)="handleData($event)">
  
  <p>Product Name: <input type="text" placeholder="Enter product name" [(ngModel)]="name"></p>
  <p>Product Price: <input type="text" placeholder="Enter product price" [(ngModel)]="price"></p>
  <button class="btn btn-primary" (click)="updateProduct()">Update product</button>
  <app-hooks *ngIf="appChildExist" [userId]="uid" [parentData]="data" [product]="product">
    <h1 #child>This is child content coming from parent component</h1> 
  

  
  </app-hooks>
  </div>
  </div> 
  <div >
    <div>
      <input type="text" #input (blur)="handleData($event)">

  <button (click)="showDetails(input.value)">Add</button>
  <app-life-cycle [uid]="userName" [parentData]="data">
    <p #child>This is paragraph tag of parent component</p>
  </app-life-cycle>
    </div>
    
  </div>
  <button class="btn btn-danger" (click)="destroy()">Destroy component</button> -->
 <!-- <app-simpleform></app-simpleform>    -->
 <!-- <app-reactiveform></app-reactiveform> -->
 <app-reactstudform></app-reactstudform>  
 <!-- <app-tempform></app-tempform> -->
 <!-- <app-formcontrolexp></app-formcontrolexp>  -->
  <!-- <app-formgroup></app-formgroup>  -->
<!-- <app-stud-reg></app-stud-reg> -->
<!-- <app-hooks [color]="colors"></app-hooks> -->
